<div class="about">
    <div class="upperContent pt-2 pb-5">
        <h1 class="text-center p-5">Ristorante Il Gambero Rosso</h1>
        <div class="container d-flex pb-4 " style="padding:0px">
            <img src="https://cdn.pixabay.com/photo/2017/01/26/02/06/platter-2009590_960_720.jpg" alt="">
            <div class="text">
                <h2>Spend an evening at one of the most elegant venues and enjoy a soft drink followed by a three-course meal from a set menu</h2>
                <h5>Il Gambero Rossi specialises in occasion dining, aiming to do things properly with the manners and trappings of tradition warmed by friendliness and the personal touch. Every meal  should be a celebration. Open for lunch and dinner seven days a week, the restaurant is located on Food Street, just off bustling Stakehousegate a few yards from Vegetarian Street Station. The meat comes from world-renowned royal butcher "The Metzger" with whom the venue has a long-standing and personal connection. Vegetarian and vegan diners are welcome and they can find both established classics and daily specials to cater to their dietary preferences.</h5>
            </div>
        </div>
    </div>
    <div class="container lowerContent pb-5">
        <h1 class="text-center p-5">Why chosse us</h1>
        <h5 class="text-center">Quality of Service, Food, Ambiance and Value of Money are the primary elements for choosing a restaurant.</h5>
        <div class="container d-flex p-3">
        <div class="preferences p-3">
            <h3>Most exquisite fine-dinning </h3>
            <p>Our restaurant strives to become our customers favorite place to eat and drink.</p>
        </div>
        <div class="preferences p-3">
            <h3>Perfect ambiance and scrumptious food</h3>
            <p>Serve only the highest quality product, prepare it in a clean and sparkling environment, and serve it in a warm and friendly manner.</p>
        </div>
        <div class="preferences p-3">
            <h3>Remarkable service with heart</h3>
            <p>Our team is always looking forward to provide you exceptional services and win your hearts out.</p>
        </div>

    </div>
</div>
