   
    <div class="home" style="padding: 20rem 5rem;" >
        <div class="mask" style="background-color: rgba(0, 0, 0, 0.6); margin: 10% 10%;">
            <div class="d-flex justify-content-center align-items-center p-5">
                <div class="text-white">
                    <h1 class="m-3">Ristorante Il Gambero Rosso</h1>
                    <h4 class="mb-3">Delivering great food for more than 18 years!</h4>
                    <a class="btn btn-outline-light btn-sm" style="width: 150px; margin: 10px;" routerLink="/menu/" role="button">Our Menu</a>
                    <a class="btn btn-outline-light btn-sm" style="width: 150px; margin: 10px;" routerLink="#!" role="button">Book a Table</a>
                </div>
            </div>
        </div>
    </div>